/* typographies */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.title-header,
.title-big, 
.title-medium, 
.title-small,
.title-section
.title-footer {
    color: $color-primary;
    font-family: $font-primary;
    line-height: 1.2;
}

.title-header { @include font-size-responsive(122px, 137px, 159px); }

.title-big { @include font-size-responsive(81px, 91px, 106px); }

.title-medium { @include font-size-responsive(54px, 61px, 71px); }

.title-section { @include font-size-responsive(36px, 41px, 47px); }

.title-small { @include font-size-responsive(24px, 27px, 32px); }

.paragraph {
    @include paragrpah ($color-black);
    @include font-size-responsive(16px, 18px, 21px); /* 1.5 ratio */
}