/* fonts */
$font-primary: '', sans-serif;
$font-secondary: '', sans-serif;

/* couleurs */
$color-bg: #fff;
$color-white: #fff;
$color-black: #000;
$color-hover: #000;

$color-text: #000;
$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;