/* global style */
html {
    @include font-size-responsive(16px, 18px, 20px); // initialisation de la taille de la police pour l'unité rem
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header, body, section, footer{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
}